<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Filter</display-name>
  <filter>
    <filter-name>imageRedirectFilter</filter-name>
    <filter-class>com.cs.filter.ImageRedirectFilter</filter-class>
  </filter>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>com.cs.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>characterEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.cs.filter.LogFilter</filter-class>
  </filter>
  <filter>
    <display-name>ExceptionHandlerFilter</display-name>
    <filter-name>ExceptionHandlerFilter</filter-name>
    <filter-class>com.cs.filter.ExceptionHandlerFilter</filter-class>
  </filter>
  <filter>
    <display-name>PriviledgerFilter</display-name>
    <filter-name>PriviledgerFilter</filter-name>
    <filter-class>com.cs.filter.PriviledgerFilter</filter-class>
    <init-param>
      <param-name>file</param-name>
      <param-value>/WEB-INF/privilege.properties</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>imageRedirectFilter</filter-name>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/LogFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExceptionHandlerFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PriviledgerFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>replaceFilter</filter-name>
    <filter-class>com.cs.filter.OutputReplaceFilter</filter-class>
    <init-param>
      <param-name>file</param-name>
      <param-value>/WEB-INF/sensitive.properties</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>replaceFilter</filter-name>
    <url-pattern>/replaceFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GZipFilter</display-name>
    <filter-name>GZipFilter</filter-name>
    <filter-class>com.cs.filter.GZipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZipFilter</filter-name>
    <url-pattern>/GZipFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>WaterMarkFilter</display-name>
    <filter-name>WaterMarkFilter</filter-name>
    <filter-class>com.cs.filter.watermark.WaterMarkFilter</filter-class>
    <init-param>
    	<param-name>waterMarkFile</param-name>
    	<param-value>/WEB-INF/logo.png</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>WaterMarkFilter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
</web-app>